/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */

body {
  background-color: #505050;
  color: #f5f5f5;
}

strong { color: #E0DEDE; }

a { color: #ff9900; }

blockquote { color: #c3c3c3; }

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
  color: #5f5a60;
}

div.highlight pre, code {
  background-color: #1e1e1e;
}

.redish { color: #CB593D; /* #E16F47; /* #C53708; */ }

/* Red */
.sidebar,
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #202020;
}
.masthead-title a,
.post-title, .page-title,
.post-title a, .page-title a,
/* .container a, */
.sidebar-toggle,
.related-posts li a:hover {
  color: #cf6a4c; /* #ff0000; /* #d73737; /* #ac4142; */
}

h1, h2, h3, h4, h5, h6 {
  color: #9b703f;
}

/*
.masthead-title {
  height: 36px;
}

.masthead-title a {
  display: inline;
  background-image: url('../jewel_48.png');
  background-repeat: no-repeat;
  background-size: 42px;
  height: inherit; min-width: 42px;
  margin-right: 24px;
} */
.masthead-title {
    background-image: url('../jewel_48.png');
    background-repeat: no-repeat;
    min-width: 36px; height: 36px;
    background-size: 36px;
    position: relative;
}

.masthead-title a {
    position: absolute;
    top: 0; left: 0;
    width: 36px; height: 36px;
}

.masthead-title a h2 {
    display: none;
}

.masthead-title .tagline {
    margin-left: 48px;
    color: #c0c0c0;
    letter-spacing: 0;
}

/* Orange */
.theme-base-09 .sidebar,
.theme-base-09 .sidebar-toggle:active,
.theme-base-09 #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #d28445;
}
.theme-base-09 .container a,
.theme-base-09 .sidebar-toggle,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

.wide-link {
  margin-left: 0 !important;
  margin-right: 1px !important;
  width: 99% !important;
  border-radius: 4px;
  display: block;
  font-size: 1.25rem;
  font-weight: 250;
}
