{% comment %}
target for toggling the sidebar '.sidebar-checkbox' is for regular styles,
'#sidebar-checkbox' for behavior
{% endcomment %}
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
      <span>#!/usr/bin/env jruby</span><!--<br>-->
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://twitter.com/intent/tweet?text=@{{ site.twitter.username }} {{ site.hello }} ...">Feedback</a>
  </nav>

  <div class="sidebar-item">
    <p><a href="http://kares.org">&copy;</a> {{ site.time | date: '%Y' }} all rights reserved</p>
  </div>
</div>
