<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout-reverse sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="{{ site.title }}">
              <h2>{{ site.title }}</h2>
            </a>
            <span class="tagline">{{ site.tagline }}</span> <!-- <small> -->
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(evt) {
          var target = evt.target;

          if ( ! checkbox.checked || sidebar.contains(target) ||
             ( target === checkbox || target === toggle ) ) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    
    <script>
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik-kares.rhcloud.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik-kares.rhcloud.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

  </body>
</html>
